.ovojnica{
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    margin-left: 40px;
}

h1{
    text-align: center;
    
    
}
#kalorij{
    
    font-size: large;
    
}

.podat{
    
    font-size: 25px;
    
}